.navBar {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  left: 0px;
  width: 150px; /* Make this adjustable/dynamic using cursor */
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  background-color: #c2c2c2;
  border-top-right-radius: 0.2cm;
  border-bottom-right-radius: 0.2cm;
}

.navBarItems {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.link {
  text-decoration: none;
  color: inherit;
}