.toolBar{
    position: absolute;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    background-color: #3498db; 
    width: 100px;
    height: 200px;
    right: 100px;
}

.toolBarIcons{
    width: 25px;
    height: 25px;
}