.toolBar{
  position: absolute;
  padding: 10px;
  display: flex;
  flex-direction: column; 
  background-color: #c2c2c2; 
  width: 100px;
  height: 700px;
  right: 0px;
  top: 10px;
  border-top-left-radius: 0.2cm;
  border-bottom-left-radius: 0.2cm;
}

.toolBarIcons{
  width: 25px;
  height: 25px;
}