.toolBar {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  right: 0px;
  width: 10vw; /* Make this adjustable/dynamic using cursor */
  height: calc(100vh - 80px);
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  background-color: #c2c2c2;
  border-top-left-radius: 0.2cm;
  border-bottom-left-radius: 0.2cm;
}

.toolBarIcons {
  width: 25px;
  height: 25px;
  padding-left: 10px;
}